# BACKEND gitignore HERE

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
staticfiles/ 

# Translations
*.mo
*.pot

# Sphinx
docs/_build/

# PyBuilder
target/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env

# Ignore virtual environment
ld-venv/

# VSCode settings (opcional pero útil)
.vscode/



# FRONT-END gitignore HERE

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

media/*

node_modules