@use '../../styles/mixins' as *;



nav {
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 0.5rem;
    margin-top: 10px;

    &>:nth-child(1){
        justify-self: start;
        display: none;
    }
    &>:nth-child(2){
        justify-self: start;
    }
    .logo {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        svg {
            width: auto;
            height: 2rem; // o lo que prefieras
        }

    }
    &>:nth-child(4){
        justify-self: end;
    }
    
    ul {
        margin: 0;
    }

    // @include breakpoint(mobilerotate){

    //     ul{
    //         display: none;
    //     }
    // }

    @include breakpoint(tablet){
        &>:nth-child(1){
            justify-self: start;
            display: flex;
           
        }
        &>:nth-child(2){
            justify-self: start;
            display: none;
        }
    }

    @include breakpoint(desktop){
        &>:nth-child(1){
            justify-self: start;
            display: flex;
           
        }
        &>:nth-child(2){
            justify-self: start;
            display: none;
        }
    }
    
    div.icons{
        display: flex;
        align-items: center;        
        gap: 0.5rem;
    }
}

