div {
    position: relative;

    span.item-count {
        box-sizing: border-box;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        background-color: rgb(165, 130, 130);
        border-radius: 50%;
        padding: 0.1rem 0.3rem;
    }
}