@use '../../styles/mixins' as *;

main {

    h1 {
        margin: 5px;
    }
    

    div.products-cart {
        
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
        margin-bottom: 5px;   
        box-sizing: border-box;



        img {
            width: 70%;
            object-fit: cover;
            border-radius: 10px;
        }

        p.price{
            margin: 0;
            font-size:clamp(11px, 2.5vw, 18px);
        }
    
        h2 {
            margin: 0;
            margin-top: 5px;
            font-size: clamp(0.8rem, 2.5vw, 2rem);
            text-transform: uppercase;
            font-weight: bold;
            align-self: self-end;
        }
    
        &>article.product-cart{
            border: 1px solid #979797;
            background-color: rgb(255, 255, 255);
    
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto auto auto;
            align-items: center;
            column-gap: 2px;
            row-gap: 2px;
            gap: 5px;
    
            padding: 8px 0.7em;
            box-sizing: border-box;
            border-radius: 12px;
    
        
        }
    
        @include breakpoint(smallmobile){
                
                &>article.product-cart{

                    padding: 6px 0.5em;


                    &>:first-child{
                        grid-area: 1 / 1 / 1 / span 2;
                        text-align: center;
                    }
        
                    &>:nth-child(2){
                        grid-area: 2 / 1 / 2 / span 2;
                    }
        
                    &>:nth-child(3){
                        grid-area: 3 / 1 / 3 / span 2;
                    }
        
                    &>:nth-child(4){
                        justify-content: center;
                    }

                    h2 {
                        align-self: self-end;
                    }

                    p.price{
                        font-weight: 700;
                        align-self: self-start;
                    }

                }
            }

        @include breakpoint(mobile){
            &>article.product-cart{


                &>:first-child{
                    grid-area: 1 / 1 / 1 / span 2;
                    text-align: center;
                }
    
                &>:nth-child(2){
                    grid-area: 2 / 1 / 2 / span 2;
                }
    
                &>:nth-child(3){
                    grid-area: 3 / 1 / 3 / 1;
                }
    
                &>:nth-child(4){
                    grid-area: 3 / 2 / 3 / 2;
                }

                h2 {
                    align-self: self-end;
                }

                p.price{
                    
                    font-weight: 700;
                    align-self: center;
                }

            }   
        }

        @include breakpoint(mobilerotate) {
            &>article.product-cart{


                &>:first-child{
                    grid-area: 1 / 1 / 1 / span 2;
                    text-align: center;
                }
    
                &>:nth-child(2){
                    grid-area: 2 / 1 / 2 / span 2;
                }
    
                &>:nth-child(3){
                    grid-area: 3 / 1 / 3 / 1;
                }
    
                &>:nth-child(4){
                    grid-area: 3 / 2 / 3 / 2;
                }

                h2 {
                    align-self: self-end;
                }

                img {
                    max-width: 70%;
                    justify-self: center;
                }

                p.price{
                    
                    font-weight: 700;
                    align-self: center;
                }

            }    
        }

        @include breakpoint(tablet) {
            &>article.product-cart{


                &>:first-child{
                    grid-area: 1 / 1 / 1 / span 2;
                    text-align: center;
                }
    
                &>:nth-child(2){
                    grid-area: 2 / 1 / 2 / span 2;
                }
    
                &>:nth-child(3){
                    grid-area: 3 / 1 / 3 / 1;
                }
    
                &>:nth-child(4){
                    grid-area: 3 / 2 / 3 / 2;
                }

                h2 {
                    align-self: self-end;
                }

                img {
                    max-width: 70%;
                    justify-self: center;
                }

                p.price{
                    
                    font-weight: 700;
                    align-self: center;
                }

            }    
        }

        @include breakpoint(desktop) {
            &>article.product-cart{


                &>:first-child{
                    grid-area: 1 / 1 / 1 / span 2;
                    text-align: center;
                }
    
                &>:nth-child(2){
                    grid-area: 2 / 1 / 2 / span 2;
                }
    
                &>:nth-child(3){
                    grid-area: 3 / 1 / 3 / 1;
                }
    
                &>:nth-child(4){
                    grid-area: 3 / 2 / 3 / 2;
                }

                h2 {
                    align-self: self-end;
                }

                img {
                    max-width: 70%;
                    justify-self: center;
                }

                p.price{
                    
                    font-weight: 700;
                    align-self: center;
                }

            }    
        }
    }
}